.back-btn-area {
  max-width: 680px;
  margin: auto;
}

.card-body {
  max-width: 680px;
  margin: 15px auto;
  border-radius: 25px;
  // box-shadow: none !important;
}

ion-list-header {
  --background: #f1f1f1;
}
