<ion-header mode="ios">
  <ion-toolbar style="--background:#fff;">
    <div class="back-btn-area">
      <ion-buttons slot="start">
        <ion-back-button text= '{{ "back" | translate }}' mode="ios"  class="header-back-button"  defaultHref="/"></ion-back-button>
        <ion-title mode="ios">{{ 'MY_PROFILE.page_name' | translate }}</ion-title>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cover-profile">
    <div class="avatar">
      <ion-img class="avatar-img" src="../assets/img/blank-profile.png"></ion-img>
    </div>
  </div>

  <!-- new -->

  <!-- <ion-card class="card-body">
    <ion-card-header class="cafe-header">
      <ion-skeleton-text *ngIf="!userData" animated style="width: 60%;margin: auto;height: 30px;"></ion-skeleton-text>
      <ion-card-title *ngIf="userData" class="user-name">{{ userData?.email }}</ion-card-title>
    </ion-card-header>
  </ion-card> -->

  <ion-card class="card-body">
    <ion-card-header class="user-header">
      <ion-skeleton-text *ngIf="!userData" animated style="width: 60%;margin: auto;height: 30px;"></ion-skeleton-text>
      <ion-card-title *ngIf="userData" class="user-name">{{ userData?.email }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="list-content">
      <ion-list>
        <ion-item lines="full" class="review-item" button detail (click)="changePassword()" >
          <ion-icon style="min-height: 36px;" size="large" class="dark_text" name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label class="dark_text">{{ 'MY_PROFILE.change_password' | translate }}</ion-label>
        </ion-item>
        <ion-item disabled lines="none" class="disabled" button detail (click)="changePassword()" >
          <ion-icon style="min-height: 36px;" size="large" class="dark_text" name="trash-outline" slot="start"></ion-icon>
          <ion-label class="dark_text"> {{ 'MY_PROFILE.delete_account' | translate }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
