<ion-header mode="ios">
  <ion-toolbar class="top-toolbar">
    <ion-title>{{'CHANGE_PASSWORD.page_title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--overflow: hidden;">
  <form class="ion-padding-top" [formGroup]="credentials">
    <div class="input-group">
      <ion-item lines="none">
        <ion-label position="fixed">{{ 'CHANGE_PASSWORD.old_password' | translate }}</ion-label>
        <ion-input formControlName="oldPassword" type="password" name="oldPassword" placeholder="{{ 'CHANGE_PASSWORD.old_password' | translate }}" required></ion-input>
      </ion-item>
      <div *ngIf="(credentials.get('oldPassword').dirty || credentials.get('oldPassword').touched)
                && credentials.get('oldPassword').errors" class="errors">
      </div>
    </div>
    <div class="input-group">
      <ion-item lines="none">
        <ion-label position="fixed">{{ 'CHANGE_PASSWORD.new_password' | translate }}</ion-label>
        <ion-input formControlName="password" type="password" name="password" placeholder="{{ 'CHANGE_PASSWORD.new_password' | translate }}" required></ion-input>
      </ion-item>
      <div *ngIf="(credentials.get('password').dirty || credentials.get('password').touched)
                && credentials.get('password').errors" class="errors">
      </div>
    </div>
    <div class="input-group">
      <ion-item lines="none">
        <ion-label position="fixed">{{ 'CHANGE_PASSWORD.confirmPassword' | translate }}</ion-label>
        <ion-input formControlName="confirmPassword" type="password" name="confirmPassword" placeholder="{{ 'CHANGE_PASSWORD.confirmPassword' | translate }}" required></ion-input>
      </ion-item>
      <div *ngIf="credentials.hasError('notSame')" class="errors">
        {{ 'ALERTS.password_not_match'  | translate }}
      </div>
    </div>
  </form>
</ion-content>

<ion-footer class="ion-no-margin ion-no-padding">
  <div class="ion-no-margin ion-no-padding">
    <ion-button (click)="save()" style="height: 60px;" class="ion-no-margin ion-no-padding" type="submit" size="large" expand="full" fill="solid" color="primary">{{ 'save' | translate }}</ion-button>
  </div>
</ion-footer>
